<!DOCTYPE html>

<html lang='en' dir='ltr'>
<head>
    <meta charset ='utf-8'>
    <title>BeeFriendly</title>
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Source+Serif+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <!-- will be the same on all pages
<img id="bee" src="/bienen_kopie.jpg" alt="a friendly bee"> -->



<div class="petition">

{{{body}}}<!--render main layout on every single page.
    one of my templates will replace  body,
    i.e. the template belonging to the requested url
-->


</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="actions.js"></script>
</body>

</html>
