<div class="noForm">
    <h1>Come on, be(e) friendly!</h1>
    <p> Join this campain to plant  more bee friendly flowers in the city!</p>
</div>
{{# if err}}
<h3>Enter all your data</h3>
{{/if}}

<form method="POST">

  <input type="text" name="first">
  <p>First Name</p>
  <input type="text" name="last">
    <p>Last Name</p>
   <input type="hidden" name="_csrf" value="{{csrfToken}}">

     <input type="text" name="email">
     <p>E-Mail</p>
       <input type="password" name="password">
       <p>Password</p>
  <button id="loginB" type="submit">SIGN UP</button>
</form>
<div class="noForm">

    <p>If you already are member, please <a href="/login">log in</a> </p>
</div>
