<div class="noForm">
<h1> You do not support our cause anymore!</h1>

<p>If your change your mind:
<a href="/petition">Sign the petition again</a>
</p>

<a href="/logout">Log out</a>

</div>
